<div class="container-register">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Register</h1>
    <div mat-dialog-content>
        <div class="register-name">
            <form [formGroup]="signUpForm">
                <div>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Enter your email </mat-label>
                        <input [disabled]="loading" formControlName="email" required type="email" matInput
                            placeholder="pat@example.com">
                        <!-- <mat-hint>Please enter a name</mat-hint> -->
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Enter your password</mat-label>
                    <input [disabled]="loading" formControlName="password" matInput required [type]="hide ? 'password' : 'text'" minlength="8">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signUpForm.hasError('required', 'password')">
                        Please enter your newpassword
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Confirm your password</mat-label>
                    <input [disabled]="loading" formControlName="confirmPassword" [errorStateMatcher]="matcher" required matInput [type]="hide ? 'password' : 'text'" minlength="8">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signUpForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close();">Cancel</button>
        <button [disabled]="signUpForm.invalid" mat-button cdkFocusInitial (click)="onSignUp()">Sign in</button>
    </div>
</div>